@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.light-theme {
    --clr-bcg: white;
    --clr-bcg-theme: #1aa7ec;
    --clr--theme: #1aa7ec;
    --clr-font-primary: black;
    --btn-primary: #1aa7ec;
    --clr-btn--genre: lightblue;
    --clr-btn--genre-hover: #1aa7ec;
    --clr-btn--book-size: lightblue;
    --clr-btn--book-size-hover: #1aa7ec;
    --clr-btn--checkbox: #1aa7ec;

    --clr-input-bg: whitesmoke;
    --clr-input: black;


}

.dark-theme {
    --clr-bcg: black;
    --clr-bcg-theme: #AF0029;
    --clr--theme: #AF0029;

    --clr-font-primary: white;
    --btn-primary: #AF0029;

    --clr-btn--genre: #262626;
    --clr-btn--genre-hover: #AF0029;
    --clr-btn--book-size: #262626;
    --clr-btn--book-size-hover: #AF0029;
    --clr-btn--checkbox: #AF0029;

    --clr-input-bg: whitesmoke;
    --clr-input: white;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bcg);
    color: var(--clr-font-primary);
}

section {
    padding: 0 1rem;
    margin-top: 1rem;
}

/* SECTION TEXT STYLE */
.section-info-global {
    color: var(--clr-font-primary);
    position: relative;
    margin: 6rem auto 2rem;
    width: 100%;
    text-align: center;
}

.section-info-global__heading {
    color: var(--clr--theme);
    margin: 1rem auto;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
}

.section-info-global__heading span {
    color: var(--clr-font-primary);
    font-family: 'Satisfy', cursive;
}
.section-info-global__heading p {
    color: var(--clr-font-primary);
    font-size: 1.2rem;
    font-weight: lighter;

}

.section-info-global__text {
    font-weight: bold;
}

.section-info-global__text div:not(:first-of-type) {
    margin-top: 1rem;
}

/* -----------SIGN UP / SIGN IN PAGES-----------*/


@media screen and (max-width: 800px) {
    .text-heading {
        font-size: 2rem;
    }
}

/* ----------AUTHORIZATION-----------*/
.auth__form-container {
    padding: 2rem 0;
    margin-top: 2rem;
    display: flex;
    background-color: var(--clr-bcg);
}

.auth__form-container_fields {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-bcg);
}

.auth__form-container_image {
    position: relative;
    flex: 2;
    display: flex;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.auth__form-container_image:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--clr-bcg);
    opacity: 0.4;
    transition: all 1s;
}

.auth__form-container_image:hover:after {
    opacity: 0;
}

.auth__form-container_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.auth__form-container_fields-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 2rem;
    border-radius: 5px;
    transition: 0.8s ease;
    background: var(--clr-input-bg);
}

.auth__form-container_fields-content p {
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
}

.auth__form-container_fields-content_input {
    display: flex;
    flex-direction: column;
    position: relative;

    margin: 1rem 0;
}

.auth__form-container_fields-content_input label {
    margin-bottom: 0.45rem;
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.7px;
    line-height: 1.3;
}

.auth__form-container_fields-content_input input {
    padding: 0.55rem 0.4rem;
    border: 1px solid rgb(184, 196, 194);
    font-size: 1rem;
    outline: none;
    transition: all 150ms ease-in-out 0s;
    background: #fff;
}

.auth__form-container_fields-content_input input::placeholder {
    color: #b1b1b1;
    width: 100%;
    font-weight: unset;
    font-family: 'Roboto Condensed', sans-serif;
}

.auth__form-container_fields-content_input input:hover {
    border-color: #dcdddd;
}

.auth__form-container_fields-content_input input:focus,
.auth__form-container_fields-content_input input:active {
    /*box-shadow: 0px 0px 0px 1.5px var(--clr-font-secondary);*/
}

.auth__form-container_fields-content_input-password {
    position: absolute;
    right: 13%;
    top: 50%;
    cursor: pointer;
}

.auth__form-container_fields-content_button {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
}

.auth__form-container_fields-content_button button,
.auth__form-container_fields-content_button button:hover {

}

.auth__form-container_fields-account {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.auth__form-container_fields-account p {
    font-size: 1rem;

    color: var(--clr-font-primary);
    font-weight: 500;
}

.auth__form-container_fields-account span {
    cursor: pointer;
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .auth__form-container {
        display: flex;
        flex-direction: column;
    }
}

/* -----------NAVBAR-----------*/
.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    font-size: 14px;
    transition: background 1s;
    background: var(--clr-bcg-theme);
    color: var(--clr-font-primary);
}

.navbar-container.scrolled {

}

.navbar-container__links {
    display: flex;
    flex: 2 1 0;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.navbar-container__links__link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--clr-font-primary);
    text-transform: capitalize;
    text-decoration: none;
}

.navbar-container__links__link svg {
    margin-right: 0.5rem;
    vertical-align: middle;
}

.navbar-container__buttons {
    width: 4.5rem;
    display: flex;
    justify-content: space-between;
}

.navbar-container__buttons--theme,
.navbar-container__buttons--logout {
    font-size: 1.7rem;
    border: none;
    background-color: transparent;
}

.navbar-container__buttons--theme {
    color: #f9d71c;

}

.navbar-container__logo {
    display: flex;
    align-items: center;
}

.navbar-container__logo img {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-container__user {
    margin: auto 0;
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

.navbar-container__user img {
    object-fit: cover;
    height: 4rem;
    width: 4rem;

    border-radius: 50%;
    margin-right: 1rem;
}

.navbar-container__user h2 {
    font-family: 'Dancing Script', cursive;
}

@media screen and (max-width: 800px) {
    .home-page__images__text {
        display: none;
    }

    .navbar-container {
        margin-top: 1rem;
    }


    .navbar-container__user,
    .navbar-container__logo,
    .navbar-container__buttons {
        display: none;
    }

}

/*GENRES*/
.genre-buttons-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(10rem, 1fr) );
    gap: 10px;
}

.genre-button {
    background-color: var(--clr-btn--genre);
    color: var(--clr-font-primary);
    text-transform: capitalize;
    padding: 0.3rem;
    outline: none;
    border: none;
    font-size: 1rem;
    transition: all 1s;
}

.genre-button--active {
    background: var(--clr-btn--genre-hover);
}

.genre-button:hover {
    background: var(--clr-btn--genre-hover);
}


/* PULITZER & BOOKS' SIZE BUTTONS*/
.book-size-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.book-size-buttons {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, minmax(2rem, 3rem) );
    font-size: 1rem;
    grid-gap: 10px;
}

.book-size-btn {
    border-color: transparent;
    padding: 0.25rem;
    background: var(--clr-btn--book-size);
    color: var(--clr-font-primary);
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-size: 1rem;
    transition: all 1s;
}

.book-size-btn--active {
    background-color: var(--clr-btn--book-size-hover);
}


/* -----------PRIMARY BTN-----------*/
.btn-primary-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn-primary {
    color: var(--clr-font-primary);
    background-color: var(--btn-primary);
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    outline: none;
    border-color: transparent;
}


.back_to_all_books-button {
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-size: 1rem;
    transition: all 1s;
    padding: 0.25rem;
    width: 40%;
    border-radius: 5px;
    background-color: var(--btn-primary);

}

.back_to_all_books-button__link {
    color: var(--clr-font-primary);
    text-decoration: none;
}

/* -----------CHECKBOX-----------*/
.inp-cbx-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.cbx {
    margin: auto;
    user-select: none;
    cursor: pointer;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-btn--checkbox);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 8px;
}

.cbx:hover span:first-child {
    border-color: var(--clr-btn--checkbox);
}

.inp-cbx:checked + .cbx span:first-child {
    background: var(--clr-btn--checkbox);
    border-color: var(--clr-btn--checkbox);
    animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}


/* -----------BOOKS LIST DISPLAY-----------*/
.books-list-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(10rem, 1fr) );
    grid-gap: 1rem;
}

.books-list-container__book {
    position: relative;
    overflow: hidden;
    font-weight: bold;
    transition: opacity 2s;
}

.checkbox-container, .ax-cb-div {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 1.3rem;
    transition: all 1s;
    height: 20px;
}


.books-container__book-info:hover .books-container__book-info {
    transform: translateY(0);
    padding: 1rem;
}

.books-container__book-info h4 {
}

.books-container__book-info p {
}

.books-container__book-info {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    transform: translateY(100%);
    transition: all 1s;
}

.book-img, .book-img-shadow {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 2s;
}

.book-img-shadow {
    opacity: 0.2;
    border: none;
}


/* -----------Single Book style-----------*/
.single-book-page {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(30rem, 1fr));
    grid-template-rows: minmax(20rem, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 5rem;
}


.book__cover {
    width: 30rem;
    object-fit: cover;
}

.book__info {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 2rem);
}

.book__info__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

.book__info__item--name {
    padding: 0 0 0 0.3rem;
    background-color: var(--clr-bcg-theme);
    width: 3.8rem;
}
.book__info__item--value{
    margin-left: 1rem;
}
.reviews-container {
    display: grid;
    grid-row-gap: 0.5rem;
    height: 100%;
    justify-items: center;
}


.books-container--list__book__image img {
    position: relative;
    display: block;
}


/*SINGLE REVIEW*/
.single-review-container {
    width: 100%;
    display: grid;
    grid-template-columns: 8rem minmax(60%, 80%) auto;
    grid-column-gap: 1rem;
    align-items: center;
}

.single-review__buttons {
    height: 2rem;
    width: 50%;
    display: grid;
    grid-template-columns: 4.6rem 1rem 1rem;
    grid-column-gap: 1.5rem;
    color: var(--clr-font-primary);
    margin-top: 1rem;
}

.single-review__buttons--like-btn,
.single-review__buttons--edit-btn,
.single-review__buttons--delete-btn {
    height: 100%;
    font-size: 1rem;
    color: var(--clr-font-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Broken image styling */
.books-container--list__book__image img:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: var(--clr-bcg);
}

.books-container--list__book__image img:after {
    content: "\f1c5" " Broken image of " attr(alt);
    display: block;
    position: absolute;
    z-index: 2;

    margin: auto 0;
    font-size: 0.9em;
    font-family: FontAwesome, Arial, sans-serif;
    color: var(--clr-font-primary);
    height: 100%;
    width: 100%;
}


.rating-summary-container,
.reviews-container__write-review-container,
.reviews-container__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: background-color .35s ease-in-out;
    padding: 1rem;

}

.rating-summary-container:hover,
.reviews-container__write-review-container:hover,
.reviews-container__filter:hover,
.single-review-container:hover {
}

.write-review__button {
    color: var(--clr-font-primary);
    font-family: inherit;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-size: 1rem;
    transition: all 1s;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}


/* ----Average Rating ------- */
.average-rating__number {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

/* title */
.subtitle {
    margin: 0 0 2em 0;
}


.user__info__picture img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1rem;

}

.review__info__likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 50%;
}

.review__info__likes svg {
    margin-right: 1rem;
}

/* -----------Write A Review Form style-----------*/
.average-rating-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.average-rating__count {
    font-size: 0.8rem;
    font-weight: bolder;
}


.review__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    height: 40rem;
    margin: 20rem auto;
    text-align: center;
}

.review__container input {
    color: black;
    border: none;
    outline: none;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    width: 80%;
}

.book_summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 1rem 0 2rem 0;
    font-weight: bold;
}

.book_summary__cover {
    height: 10rem;
    width: 10rem;
}

.book-summary__cover img {
    height: 10rem;
    width: 10rem;
    object-fit: contain;
}

.review__photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: 5rem;
    width: 100%;
    overflow: hidden;

}

.review__photos img {
    flex: 1;
    height: 100%;
    object-fit: cover;

}


/* -----------Book List style-----------*/

.book-list__item {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr 1fr auto;
    justify-items: center;
    column-gap: 1rem;
    padding: 0 2rem;
}

.book-list__item div {
    display: grid;
    grid-template-rows: 8rem;
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    margin: 1rem 0;
}

.image img {
    height: 100%;
    width: 6rem !important;
    object-fit: contain;
    border-radius: 5px;
}

/* -----------Form style-----------*/

.input-form-container,
.input-sort-form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 2rem;
    margin: 0 auto;
    font-family: inherit;
    margin-bottom: 1rem;
    border: none;
    padding: 0.2rem 1rem;
    color: var(--clr-input);

}

.input-form-container input,
.input-form-container select {
    outline: none;
    background: var(--clr-input-bg);
    border-color: transparent;
    border: none;
    flex: 1;
    padding: 0.2rem 1rem;
    height: 100%;

}

.input-form-container option {
    color: var(--clr-input);
}


/* HOME PAGE - ABOUT PROJECT*/
.home-page {
    height: auto;
    width: 100%;
    position: relative;
    background-color: var(--clr-bcg);
    color: var(--clr-font-primary);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 900px));
    grid-template-rows: 1fr;
    justify-content: center;
    place-items: center;
    grid-gap: 1rem 3rem;
    margin: 6rem 0 0 0;
}

@media only screen and (max-width: 844px) {
    .home-page {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
    }

    .home-page__images__text {
        display: none;
    }

}


.home-page__images {
    position: relative;
}

.home-page__images__box {
    position: relative;
    height: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 1rem;
}

.home-page__images__box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home-page__images__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline-offset: 1rem;
    width: 100%;
    max-width: 50rem;
    text-align: center;
    background-color: var(--clr-bcg);
    color: var(--clr-font-primary);
}

.home-page__images__text h1 {
    font-size: 3rem;
    padding: 1rem;
}

.home-page__info {
    font-weight: normal;
    text-align: justify;
    margin-bottom: 2rem;
}

.home-page__info span {
    font-family: 'Satisfy', cursive;
    color: var(--clr-font-primary);
    font-size: 35px;

}

/* ABOUT PAGE - ABOUT OLGA*/

.olga-page__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10rem auto;
}

.olga-page__content__text {
    flex: 1;
    margin-top: 1rem;
}

.olga-page__content__image {
    height: 25rem;
    width: 20rem;
    object-fit: contain;
}