@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');


.light-theme {
    --clr-bcg: white;
    --clr-bcg-theme: lightblue;
    --clr--theme: #1aa7ec;
    --clr-font-primary: black;
    --btn-primary: #1aa7ec;
    --clr-btn--genre: lightblue;
    --clr-btn--genre-hover: #1aa7ec;
    --clr-btn--book-size: lightblue;
    --clr-btn--book-size-hover: #1aa7ec;
    --clr-btn--checkbox: #1aa7ec;

    --clr-input-bg: whitesmoke;
    --clr-input: black;
    --clr-input-bg-hover: #DBF3FA;

}

.dark-theme {
    --clr-bcg: black;
    --clr-bcg-theme: #AF0029;
    --clr--theme: #AF0029;

    --clr-font-primary: white;
    --btn-primary: #AF0029;

    --clr-btn--genre: #262626;
    --clr-btn--genre-hover: #AF0029;
    --clr-btn--book-size: #262626;
    --clr-btn--book-size-hover: #AF0029;
    --clr-btn--checkbox: #AF0029;

    --clr-input-bg: whitesmoke;
    --clr-input: white;
    --clr-input-bg-hover: #ff5561;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bcg);
    color: var(--clr-font-primary);
}

section {
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.favorite {
    color: crimson;
}

.btn-primary-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.width-100 {
    width: 100%;
}

.width-content {
    width: max-content;
}

.margin-lg {
    margin: 6rem 0 3rem 0 !important;
}


/* -----------SIGN UP / SIGN IN PAGES-----------*/
.authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
}

.section-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    margin: 4rem auto;

}

.section-info h4 {
    color: var(--clr--theme);
}

.section-info span {
    font-size: 12px;
    color: var(--clr-font-primary);
}


/* -----------CHECKBOX-----------*/
.inp-cbx-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.cbx {
    margin: auto;
    user-select: none;
    cursor: pointer;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-btn--checkbox);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 8px;
}

.cbx:hover span:first-child {
    border-color: var(--clr-btn--checkbox);
}

.inp-cbx:checked + .cbx span:first-child {
    background: var(--clr-btn--checkbox);
    border-color: var(--clr-btn--checkbox);
    animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}


/* -----------BOOKS LIST DISPLAY-----------*/
.books-list-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(10rem, 1fr) );
    grid-gap: 1rem;
}

.books-list-container__book {
    position: relative;
    overflow: hidden;
    font-weight: bold;
    transition: opacity 2s;
}

.checkbox-container, .ax-cb-div {
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 1.3rem;
    transition: all 1s;
    height: 20px;
}


.book-img, .book-img-shadow {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 2s;
}

.book-img-shadow {
    opacity: 0.2;
    border: none;
}


/* -----------Single Book style-----------*/
.single-book-page {
    display: flex;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}


/* Broken image styling */
.books-container--list__book__image img:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: var(--clr-bcg);
}

.books-container--list__book__image img:after {
    content: "\f1c5" " Broken image of " attr(alt);
    display: block;
    position: absolute;
    z-index: 2;

    margin: auto 0;
    font-size: 0.9em;
    font-family: FontAwesome, Arial, sans-serif;
    color: var(--clr-font-primary);
    height: 100%;
    width: 100%;
}


.rating-summary-container,
.reviews-container__write-review-container,
.reviews-container__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: background-color .35s ease-in-out;
    padding: 1rem;

}

.rating-summary-container:hover,
.reviews-container__write-review-container:hover,
.reviews-container__filter:hover,


    /* title */
.subtitle {
    margin: 0 0 2em 0;
}


.user__info__picture img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1rem;

}

.review__info__likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 50%;
}

.review__info__likes svg {
    margin-right: 1rem;
}


/* -----------Book List style-----------*/

.book-list__item {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr 1fr auto;
    justify-items: center;
    column-gap: 1rem;
    padding: 0 2rem;
}

.book-list__item div {
    display: grid;
    grid-template-rows: 8rem;
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    margin: 1rem 0;
}

.image img {
    height: 100%;
    width: 6rem !important;
    object-fit: contain;
    border-radius: 5px;
}

/* -----------Form style-----------*/

.input-form-container,
.input-sort-form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 2rem;
    margin: 0 auto;
    font-family: inherit;
    margin-bottom: 1rem;
    border: none;
    padding: 0.2rem 1rem;
    color: var(--clr-input);

}

.input-form-container input,
.input-form-container select {
    outline: none;
    background: var(--clr-input-bg);
    border-color: transparent;
    border: none;
    flex: 1;
    padding: 0.2rem 1rem;
    height: 100%;

}

.input-form-container option {
    color: var(--clr-input);
}


/* ABOUT PAGE - ABOUT OLGA*/

.olga-page__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10rem auto;
}

.olga-page__content__text {
    flex: 1;
    margin-top: 1rem;
}

.olga-page__content__image {
    height: 25rem;
    /*object-fit: contain;*/
}

.review__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35rem;
    height: 40rem;
    margin: 20rem auto;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 0 3rem;
}

.review__container input {
    width: 100%;
    color: black;
    border: none;
    outline: none;
    padding: 1rem 0;
    margin: 1rem 0;
    text-align: center;
    transition: all 2s;
    background-color: var(--clr-input-bg);
}

.review__container input:hover {
    background-color: var(--clr-input-bg-hover);
}





