@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Satisfy&display=swap');


.light-theme {
    --clr-bcg: white;
    --clr-font-primary: black;
    --clr-font-secondary: #1aa7ec;
    --clr-btn-hover: #1aa7ec;
    --clr-btn: lightblue;
    --clr-theme-icon: yellow;
    --clr-active-btn: #1aa7ec;
    --clr-icon-p: white;
    --clr-input-bg: whitesmoke;
    --clr-input: #262626;
    --clr-spinner-top: #1aa7ec;
    --clr-bg-btn-primary: #1aa7ec;
    --clr-view: --clr-input;

}

.dark-theme {
    --clr-bcg: black;
    --clr-font-primary: white;
    --clr-font-secondary: #AF0029;
    --clr-btn-hover: #AF0029;
    --clr-btn: #262626;
    --clr-theme-icon: orange;
    --clr-active-btn: #AF0029;
    --clr-icon-p: white;
    --clr-input-bg: #262626;
    --clr-input: lightgray;
    --clr-spinner-top: #AF0029;
    --clr-bg-btn-primary: #AF0029;
    --clr-view: --clr-input;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

body {
    background-color: var(--clr-bcg);
    color: var(--clr-font-primary);
}

section {
    background-color: var(--clr-bcg);
    font-family: 'Roboto Condensed', sans-serif;
    width: 100vw;
    padding: 0 1rem;
}


/* -----------Buttons style-----------*/
.genre-buttons_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(10rem, 1fr) );
    grid-auto-rows: 1fr;
    gap: 10px;
}

.genre-button{
    background-color: var(--clr-btn);
    color: var(--clr-font-primary);
    text-transform: capitalize;
    padding: 0.3rem;
    outline: none;
    border: none;
    font-size: 1rem;
    transition: all 1s;
}
.genre-button--active{
    background: var(--clr-btn-hover);
    color: var(--clr-font-primary);
    text-transform: capitalize;
    padding: 0.3rem;
    outline: none;
    border: none;
    font-size: 1rem;
    transition: all 1s;

}

.genre-button:hover{
    background: var(--clr-btn-hover);
}

.btn-primary-box {
    margin: 0 auto;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    background-color: var(--clr-bg-btn-primary);
    text-align: center;
    color: var(--clr-font-primary);
    text-decoration: none;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    border-color: transparent;
}


.single-book-arrows {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.single-book-arrow {
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    color: orange;
    background: transparent;
    outline: none;
    border: none
}

.input-search-form-wrapper button,
.input-sort-form-wrapper button{
    border-color: transparent;
    padding: 0.25rem 0.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    background: var(--clr-bg-btn-primary);
    color: var(--clr-font-primary);

    transition: 1s;
    cursor: pointer;
}

.input-search-form-wrapper button:hover {
    background: var(--clr-btn-hover);
}

.icon-check__btn {
    color: green;
}

.favorite {
    color: red !important;
}

.checked {
    color: green !important;
}

.length-buttons__container {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(7, minmax(2rem, 1fr) );
    grid-auto-rows: 1fr;
    gap: 10px;
    font-size: 1.1rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.length-buttons__container h5 {
    font-size: 1.1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

.length__button {
    border-color: transparent;
    padding: 0.25rem;
    background: var(--clr-btn);
    color: var(--clr-font-primary);
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-size: 1rem;
    transition: all 1s;
}
.length__button--active{
    color: var(--clr-font-primary);
    background-color: var(--clr-btn-hover);
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-size: 1rem;
    transition: all 1s;
    padding: 0.25rem;
}

.view__btn{
    background-color: var(--clr-view) !important;
    color: var(--clr-input-bg) ;
}



/* -----------Icons style-----------*/

.pulitzer-prize-size-filter__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: var(--clr-bg-btn-primary);
    font-size: 1.2rem;
    margin-top: 2rem;
}

.icon-book__add {
    color: green;
    font-size: 1.3rem;
}





/* -----------Checkbox style-----------*/
.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);

}

.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--clr-bg-btn-primary);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 8px;
}

.cbx:hover span:first-child {
    border-color: var(--clr-bg-btn-primary);
}

.inp-cbx:checked + .cbx span:first-child {
    background: var(--clr-bg-btn-primary);
    border-color: var(--clr-bg-btn-primary);
    animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}


/* -----------Text style-----------*/
.section-info {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.section-info__heading {
    margin: 2rem auto;
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    color: var(--clr-font-secondary);
}

.section-info__heading span {
    color: var(--clr-font-primary);
    font-family: 'Satisfy', cursive;
}

.section-info__text {
    font-weight: lighter;
    text-align: justify;
}

.section-info__text div:not(:first-of-type) {
    margin-top: 1rem;
}

@media screen and (max-width: 800px) {
    .text-heading {
        font-size: 2rem;
    }
}


.errorMessage {
    color: orangered;
    text-align: center;
    margin-bottom: 1rem;
}


/* -----------Grid View Book style-----------*/
.books-container--grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(10rem, 1fr) );
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
}

.books-container--grid__book {
    position: relative;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border: 1px solid var(--clr-font-primary);
    transition: opacity 2s;
}

.book-img, .book-img-shadow {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 2s;

}

.book-img-shadow {
    opacity: 0.2;
    border: none;
}

.books-container--grid__book:hover .books-container--grid__book-info-wrapper {
    transform: translateY(0);
}

.books-container--grid__book h4 {
    color: var(--clr-font-secondary);
}

.books-container--grid__book p {
    color: var(--clr-icon-p);
}

.books-container--grid__book-info-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    transform: translateY(100%);
    transition: all 1s;
}

.books-container--grid__book-info-wrapper div {
    padding: 0.5rem 1rem;
}

.books-container--grid__book-icons-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    padding: 0.2rem;
    transition: all 1s;
    /*background: black;*/
    background: var(--clr-bcg);
    border-bottom: 1px solid var(--clr-font-primary);
}
.link-read-more-wrapper{
    color: chocolate;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;

}

/* -----------List View Book style-----------*/
.books-container--list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}
.books-container--list__book {
    display: grid;
    grid-template-columns: 0.5fr 2fr auto ;
    background-color: var(--clr-bcg);
    border-bottom: 1px dashed var(--clr-font-secondary) !important;
}

.books-container--list__book__image {
    object-fit: contain;
}

.books-container--list__book__info-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
}
.books-container--list__book__info__title {
    color: var(--clr-font-secondary);
    font-weight: bold;
}
.books-container--list__book__info__author {
    font-weight: bold;
}

.books-container--list__book__icons-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.books-container--list__book__icons-wrapper > * {
    margin: 0.3rem;
}
/* -----------Single Book style-----------*/

.single-book {
    position: relative;
    width: 90vw;
    max-width: 25rem;
    margin: 4rem auto;
    display: grid;
    gap: 2rem;
}

.single-book img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.single-book-info {
    min-height: 7rem;
    height: auto;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: baseline;
    text-align: justify-all;
}

.single-book p {
    font-weight: bold;
}

.book-data {
    display: inline-block;
    padding: 0.25rem 0.8rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    color: var(--clr-font-primary);
    background: var(--clr-bg-btn-primary);
    width: 5rem;
    text-align: center;

}

/* -----------Book List style-----------*/

.book-list__item {
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr 1fr auto;
    justify-items: center;
    column-gap: 1rem;
    border-bottom: 1px dashed var(--clr-font-secondary);
    border-bottom: 1px dashed var(--clr-btn);
    padding: 0 2rem;
}

.book-list__item div {
    display: grid;
    grid-template-rows: 8rem;
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
    column-gap: 1rem;
    margin: 1rem 0;
}

.image img {
    height: 100%;
    width: 6rem !important;
    object-fit: contain;
    border-radius: 5px;
}

/* -----------Form style-----------*/

.input-search-form-wrapper,
.input-sort-form-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr 6rem;
    border-radius: 5px;
    background: var(--clr-input-bg);
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 1rem;
}

.input-sort-form-wrapper {
    grid-template-columns:  4rem 4rem 1fr 6rem;
    grid-gap: 0.5rem;
}

.input-search-form-wrapper input,
.input-sort-form-wrapper #sort,
.input-sort-form-wrapper input
{
    background: var(--clr-input-bg);
    outline-color: var(--clr-input);
    color: var(--clr-input);
    letter-spacing: 1px;
    border-radius: 5px;
    border-color: transparent;
    text-align: center;
}


/* -----------Pagination style-----------*/

/*.btn-container--page {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    background-color: red;*/
/*!*}*!*/

/*.pagination-btn {*/
/*    width: 2rem;*/
/*    height: 2rem;*/
/*    background-color: var(--clr-btn);*/
/*    color: var(--clr-font-primary);*/
/*    border-color: transparent;*/
/*    border-radius: 5px;*/
/*    cursor: pointer;*/
/*    margin: 1rem 0.3rem;*/
/*    transition: all 2s;*/
/*}*/

/*.pagination-btn--active {*/
/*    background-color: var(--clr-active-btn);*/
/*    color: var(--clr-font-primary);*/
/*    font-weight: bold;*/
/*}*/

/*.pagination-btn__prev, .pagination-btn__next {*/
/*    background-color: transparent;*/
/*    color: chocolate;*/
/*    border: transparent;*/
/*    font-weight: bold;*/
/*    font-size: 1rem;*/
/*    text-transform: capitalize;*/
/*}*/


/* -----------Loading style-----------*/

/*.loading {*/
/*    width: 6rem;*/
/*    height: 6rem;*/
/*    margin: 1rem auto;*/
/*    border-radius: 50%;*/
/*    border: 3px solid #ccc;*/
/*    border-top-color: var(--clr-spinner-top);*/
/*    animation: spinner 0.6s linear infinite;*/
/*}*/

/*@keyframes spinner {*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/







